
.container {
    padding:5px;
    margin:0px auto;
}
#output {
    height:65px;
    background:#000;
    color:aqua;
    width:100%;
    font-size:2em;
    padding:10px;
    text-align:right;
    margin-top:30px;
    margin-bottom:25px;
    overflow:hidden;
    box-shadow:2px 2px 7px 7px inset #fff;
    border-radius:5px;
}

#myCalcu {
    width:365px;
    height:650px;
    background:lightgrey;
    padding:10px;
    margin:0 auto;
    box-shadow:3px 5px 5px #ddd;
    box-shadow:1px 1px 15px 3px inset #000;
}
.cbutton {
    font-size:3em;
    width:55px;
    height:90px;
    margin:10px 5px 15px 5px;
    padding:10px;   
}
.cbutton:hover {
    box-shadow:2px 3px 7px #A19F9F;
}
