.container {
    padding:5px;
}
#output {
    height:45px;
    background:#000;
    color:aqua;
    width:100%;
    font-size:2em;
    padding:5px;
    text-align:right;
    margin-bottom:25px;
    overflow:hidden;
}

#myCalcu {
    width:350px;
    background:dimgray;
    padding:25px;
}
.cbutton {
    font-size:2em;
    width:45px;
    margin:4px;
    padding:4px;   
}
